body{
	font-family: sans-serif;
}

table{
	width:  1500px;
	margin: 100px auto;
}

table th{
	padding: 20px 0;
	background-color: #e6eee8;
	border:  thin solid #d4d4d4;
	/* border-radius: 3px; */
}

table td{
	padding: 2px;
	border:  thin solid #d4d4d4;
	text-align: center;
	background-color: #fff;
	/* border-radius: 2px; */
}

table img{
	width:  100%;
}


table img{
	width:  60%;
}